<manifest package="io.flutter.plugins.webviewflutter"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <activity
            android:name=".newActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
